<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>about</title>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans" rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/about.css"></link>
</head>
<body>

<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/about">About</a>
    <div class="topnav-right"><a class="prof-img" href="sign-in">Profile</a></div>
</div>
<div class="main_content">
    <h1>Recode Hackloop 2024</h1>
    <p style="text-align: left;">
        This project was done for the Hackloop 2024's Open Innovation theme by <!--Idiots--><br><br>
        <strong class="name"> Akansh </strong> , <strong class="name"> Aryan </strong> , <strong class="name"> Keerthan </strong>.
    <p>
    <br><br><br><br>
    <p class="lecture">
        M.E.A.L.S (Meal Efficiency & Automated Logistics System) was built to make the daily lives of hostelers (specially NMAMIT)<br>
        easy. Basically the hostelers have a primitive coupon system for mess which causes a lot of inconveniences (atleast to Aryan) <br>
        so this idea came to existence, the idea of having a digitalized attendance system also with the facility to know the amount of <br>
        traffic to the mess owners so that the analysis can be made and most important food wastage can be reduced...
    </p>
</div>
<div class="bottomfoobar"><p style="color: white; font-size: 11px;">M.E.A.L.S.(Meal Efficiency & Automated
    Logistics System)</p></div>
</body>
</html>
