<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>M.E.A.L.S</title>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans" rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>

<img src="meals.png">
<div class="bottomfoobar"><p style="color: white; font-size: 11px;">M.E.A.L.S.(Meal Efficiency & Automated
    Logistics System)</p></div>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/about">About</a>
    <div class="topnav-right"><a class="prof-img" href="sign-in">Profile</a></div>
</div>

</body>
</html>
