<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Sign In</title>
    <link rel="stylesheet" href="/styles/sign_in.css">
</head>
<body>
<div class="topnav">
    <a class="a" href="/">Home</a>
    <a class="a" href="/about">About</a>
    <div class="topnav-right"><a class="prof-img" href="sign-in">Profile</a></div>
</div>
<div class="container">
    <h1>Sign In</h1>
    <form id="sign-in-form" method="POST">
        <label for="email">Email:</label>
        <input id="email" name="email" required type="email">
        <label for="password">Password:</label>
        <input id="password" name="password" required type="password">
        <input type="submit" value="Sign In">
    </form>
</div>

<div class="bottomfoobar"><p style="color: white; font-size: 11px;">M.E.A.L.S.(Meal Efficiency & Automated
    Logistics System)</p></div>
</body>
</html>